header{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
main{
    width: 80%;
    position: absolute;
}
/*  */
figure{
    padding: 100px;
    margin: auto;
}
figure div{
    position: relative;
    right: -20%;   
    top: -400px;
    color: white;
}
figure div h1{
    color: cornflowerblue;
}
.bouton{
    color: white;
    background-color: cornflowerblue;
    border-color:white;
    border-bottom-width: 5px;
    width: 20%;
    height: 3em;
    font-size: 1em;
    
nav a{
    display: flex: ;
    margin: auto; 
    justify-content: space-between;
    display: flex;
    align-items: center;  
}
.services{
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.NOS p{
    text-align: right;

}
button a{
    display: flex;
    text-align: center;
} 
.image{
   display: flex;
   justify-content: space-around;
   margin-left:20%;
   margin-right: 20%; 
   
}
.images{
    display: flex;
    justify-content: space-around;
    margin-left:20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;

}
    

   


    
