header{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
main{
    position: absolute;
}
main figure img{
    align-items: center;
}
figure div{
    position: relative;
    right: -20%;   
    top: -400px;
    color: white;
}
figure div h1{
    color: blue;
}
.services{
    display: block;
    text-align: center;  
    justify-content: space-around;
}
#puce{
  display: flex;
  background: blue;
  border-radius:50%;
  width:15px;
  height:15px;
}
#moncercle{
  display: flex;
  background: blue;
  border-radius:50%;
  width:15px;
  height:15px;
  margin: auto;  
}
.SERVICES/PROJETS{
    display: flex;
    text-align: right;
}
.logo{
    display: block;
    text-align: right;
}

.projets{
    display: block;
    text-align: center;  
    justify-content: space-around;
}
section nav ul{
    text-align: center;
    
}
nav ul div button a{
    background-color: blue;
    color: white;
    
}
.bouton{
    color: white;
    background-color: blue;
    border-color:white;
    border-bottom-width: 5px;
    width: 20%;
    height: 3em;
    font-size: 1em;
}   
.image{
    padding: 50px;
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}
.images{
    padding: 50px;
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}
 .moustache{
     height:30%;
     width: 30%;
     margin: 5px 5px 5px 5px;
} 
.lapin{
    height:30%;
    width: 30%;
    margin: 5px 5px 5px 5px;
}
.pompadour{
    height:30%;
    width: 30%;
    margin: 5px 5px 5px 5px;
}
.livre{
    height:30%;
    width: 30%;
    margin: 5px 5px 5px 5px;
}
.sac{
    height:30%;
    width: 30%;
    margin: 5px 5px 5px 5px;
}
.ville{
    height:30%;
    width: 30%;
    margin: 5px 5px 5px 5px; 
}
.fusée{
    height:30%;
    width: 30%;
    margin: 5px 5px 5px 5px;
}  
.access{
    height:30%;
    width: 30%;
    margin: 5px 5px 5px 5px;
} 
footer img{
    padding: 200px;
    height: 100%;
    width:100%;
}
.cssform{
    position: relative;
    right: -90%;   
    top: -900px; 
}

    
