header{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
main{
    width: 100%;
    position: absolute;
}
figure{
    padding: 100px;
    margin: auto;
}
figure div{
    position: relative;
    right: -20%;   
    top: -400px;
    color: white;
}
figure div h1{
    color: blue;
}
.services{
    display: block;
    text-align: center;  
    justify-content: space-around;
}
#moncercle{
  display: flex;
  background:#bfd70e;
  border-radius:50%;
  width:10px;
  height:10px;
  border:2px solid #679403; 
  margin: auto;
  
}
.projets{
    display: block;
    text-align: center;  
    justify-content: space-around;
}
.bouton{
    color: white;
    background-color: blue;
    border-color:white;
    border-bottom-width: 5px;
    width: 20%;
    height: 3em;
    font-size: 1em;
}   
nav a{
    display: flex ;
    margin : auto; 
    justify-content: space-around;
    text-align: right;
    
}
button a{
    display: flex;
    text-align: center;
} 
.image{
   display: flex;
   justify-content: space-around;
   margin-left:20%;
   margin-right: 20%; 
   
}
.images{
    display: flex;
    justify-content: space-around;
    margin-left:20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;

}
    

   


    
