header{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
nav{
    width: 100%;
    display: flex;
}
nav a{
    margin: auto; 
    justify-content: space-between;
    display: flex;
    align-items: center;  
}
figure{
   padding: 100px;
   margin: auto;
}
.NOS h1{
    text-align: center;  
    
}
.NOS p{
    text-align: center;
}
button a{
    display: flex;
    text-align: center;
} 
.image{
   display: flex;
   justify-content: space-around;
   margin-left:20%;
   margin-right: 20%; 
   
}
.images{
    display: flex;
    justify-content: space-around;
    margin-left:20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;

}
    

   


    
